

<section>
   <div class="container">
      <div class="row">

         <div class="col-md-6 d-flex justify-content-center">
           <div class="outer-frame">

            <figure class="profile-picture mb-0">
               <img class="w-100" src="assets/images/profile1.jpg" alt="profile">
               <div class="myLinks">

                  <ul class="d-flex flex-column align-items-center">
                     <li class="list-unstyled"> 
                        <a target="_blank" href="https://www.linkedin.com/in/ahmed-elkholy-636916292/"> <i class="fa-brands fa-linkedin fa-2x mb-3"></i> </a>
                      </li>
   
                     <li class="list-unstyled"> 
                        <a target="_blank" href="https://github.com/ahm91ed"> <i class="fa-brands fa-github fa-2x"></i> </a>
                     </li>
                  </ul>
   
               </div>
            </figure>

           </div>
         </div>

         <div class="col-md-6">

            <div class="profile-content">

               <h2 class="h1 text-center"> <span class="special">I</span> Hello</h2>

               <p class="fw-bolder mt-5">I'm <span class="nameStyle rounded-pill fw-bold p-1 text-white">Ahmed Elkholy</span> , a Front-End Developer with expertise in HTML, CSS, Bootstrap, JavaScript, Angular v.16 and have good knowledge with Node.js, Express.js, and MongoDB.
                  My passion for creating visually appealing and user-friendly web applications drives me to stay up-to-date with the latest technologies and frameworks.
                  seeking a position in a stable company to contribute skills and drive impactful results 
               </p>


                  <a class="h6 fw-bolder btn btn-outline-dark" target="_blank" href="assets/Ahmed Elkholy frontend developper.pdf">
                     <i class="fa-solid fa-download"></i> Download CV</a>

            </div>

         </div>

      </div>
   </div>
</section>





