
<div class="row py-5">


    <div class="col-lg-2 mb-3  py-5">

        <h2 class="mb-3 text-center">Technologies</h2>
   
        <div class="d-flex flex-column ">
            <button routerLink="Angular" class="btn btn-outline-dark"> Angular </button>
            <button routerLink="Javascript" class="btn btn-outline-dark mb-3 mt-3"> Javascript </button>
            <button routerLink="HTML" class="btn btn-outline-dark"> HTML </button>
        </div>
       
    </div>


    <div class="col-lg-10">
        <router-outlet></router-outlet>
    </div>
</div>
