
:root
{
--main-color:#1ABC9C ;
}



.project-style
{
    border-radius: 5px;
    border:  2px solid;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    transition: all .8s;
    
}

.project-style:hover
{
    background-color: var(--main-color);
    color: white;
}