<div class="row justify-content-center g-4">


  <h2 class="text-center mb-4">HTML projects</h2>


    <!-- =============================== 1-first part ======================== -->
  
    <div class="col-lg-6">
      <div class="card  bg-light">
        <figure>
          <img class="card-img-top w-100" src="assets/images/fokir.jpg" />
        </figure>
        <figcaption class="site-name">
          Fokir 
        </figcaption>
      
  
        <div class="d-flex justify-content-start mb-3 mt-3 site-icons cursor-pointer">
          <a
          href="https://ahm91ed.github.io/fokir/"
          target="_blank"
          class="me-3"
        >
          <i class="fa-solid ms-1 fa-link"></i> Visit Site
        </a>
        <a href="https://github.com/ahm91ed/fokir" target="_blank">
          <i class="ms-2 fa-brands fa-github"></i> github
        </a>
        </div>
  
    
      </div>
    </div>

      <!-- =============================== 2-nd part ======================== -->
  
      <div class="col-lg-6">
        <div class="card  bg-light">
          <figure>
            <img class="card-img-top w-100" src="assets/images/mealify.jpg" />
          </figure>
          <figcaption class="site-name">
            Mealify 
          </figcaption>
        
    
          <div class="d-flex justify-content-start mb-3 mt-3 site-icons cursor-pointer">
            <a
            href="https://ahm91ed.github.io/mealify/"
            target="_blank"
            class="me-3"
          >
            <i class="fa-solid ms-1 fa-link"></i> Visit Site
          </a>
          <a href="https://github.com/ahm91ed/mealify" target="_blank">
            <i class="ms-2 fa-brands fa-github"></i> github
          </a>
          </div>
    
      
        </div>
      </div>

        <!-- =============================== 3-rd part ======================== -->
  
        <div class="col-lg-6">
            <div class="card  bg-light">
              <figure>
                <img class="card-img-top w-100" src="assets/images/daniels.jpg" />
              </figure>
              <figcaption class="site-name">
                daniels 
              </figcaption>
            
        
              <div class="d-flex justify-content-start mb-3 mt-3 site-icons cursor-pointer">
                <a
                href=" https://ahm91ed.github.io/larry-daniels/"
                target="_blank"
                class="me-3"
              >
                <i class="fa-solid ms-1 fa-link"></i> Visit Site
              </a>
              <a href="https://github.com/ahm91ed/larry-daniels" target="_blank">
                <i class="ms-2 fa-brands fa-github"></i> github
              </a>
              </div>
        
          
            </div>
          </div>

             <!-- =============================== 4-th part ======================== -->
  
        <div class="col-lg-6">
            <div class="card  bg-light">
              <figure>
                <img class="card-img-top w-100" src="assets/images/devfolio.jpg" />
              </figure>
              <figcaption class="site-name">
                devfolio 
              </figcaption>
            
        
              <div class="d-flex justify-content-start mb-3 mt-3 site-icons cursor-pointer">
                <a
                href=" https://ahm91ed.github.io/devfolio/"
                target="_blank"
                class="me-3"
              >
                <i class="fa-solid ms-1 fa-link"></i> Visit Site
              </a>
              <a href="https://github.com/ahm91ed/devfolio" target="_blank">
                <i class="ms-2 fa-brands fa-github"></i> github
              </a>
              </div>
        
          
            </div>
          </div>
  
  
  
  
  
  </div>
