<div class="row justify-content-center g-4">
  <h2 class="text-center mb-4">Angular projects</h2>

  <!-- =============================== 1-first part ======================== -->

  <div class="col-lg-6">
    <div class="card bg-light">
      <figure>
        <img class="card-img-top w-100" src="assets/images/e-commerce.jpg" />
      </figure>
      <figcaption class="site-name">
        Fresh Cart <i class="fa-solid fa-cart-shopping ms-2"></i>
      </figcaption>

      <div
        class="d-flex justify-content-start mb-3 mt-3 site-icons cursor-pointer"
      >
        <a
          href="https://ahm91ed.github.io/e-commerce/home"
          target="_blank"
          class="me-3"
        >
          <i class="fa-solid ms-1 fa-link"></i> Visit Site
        </a>
        <a href="https://github.com/ahm91ed/e-commerce" target="_blank">
          <i class="ms-2 fa-brands fa-github"></i> github
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card bg-light">
      <figure>
        <img class="card-img-top w-100" src="assets/images/standalone.jpg" />
      </figure>
      <figcaption class="site-name">
        Fresh Cart (standalone) <i class="fa-solid fa-cart-shopping ms-2"></i>
      </figcaption>

      <div
        class="d-flex justify-content-start mb-3 mt-3 site-icons cursor-pointer"
      >
        <a
          href="https://ahm91ed.github.io/standalone/home"
          target="_blank"
          class="me-3"
        >
          <i class="fa-solid ms-1 fa-link"></i> Visit Site
        </a>
        <a href="https://github.com/ahm91ed/standalone" target="_blank">
          <i class="ms-2 fa-brands fa-github"></i> github
        </a>
      </div>
    </div>
  </div>

 
</div>
