<div class="row g-4">

  <h2 class="text-center mb-4">Javascript projects</h2>
    <!--============================ 1-First part ========================= -->
    <div class="col-lg-6">
        <div class="card bg-light">
            <figure><img class="w-100 card-img-top" src="./assets/images/bookmark.jpg"></figure>
            <figcaption class="site-name">Bookmarks</figcaption>

            <div class="d-flex justify-content-start mb-3 mt-3 site-icons cursor-pointer">
                <a
                href=" https://ahm91ed.github.io/bookmarker/"
                target="_blank"
                class="me-3"
              >
                <i class="fa-solid ms-1 fa-link"></i> Visit Site
              </a>
              <a href="https://github.com/ahm91ed/bookmarker" target="_blank">
                <i class="ms-2 fa-brands fa-github"></i> github
              </a>
              </div>
           
        </div>
    </div>

    <!--============================ 2-second part ========================= -->

    <div class="col-lg-6">
        <div class="card  bg-light">
            <figure><img class="w-100 card-img-top" src="./assets/images/weather.jpg"></figure>
            <figcaption class="site-name">Weather</figcaption>

            <div class="d-flex justify-content-start mb-3 mt-3 site-icons cursor-pointer">
                <a
                href="https://ahm91ed.github.io/weather/"
                target="_blank"
                class="me-3"
              >
                <i class="fa-solid ms-1 fa-link"></i> Visit Site
              </a>
              <a href="https://github.com/ahm91ed/weather" target="_blank">
                <i class="ms-2 fa-brands fa-github"></i> github
              </a>
              </div>
           
        </div>
    </div>



</div>
